<div class="main-container">
<h1 class="heading">Movie Details</h1>


    <div class="info-container">
  <img src="<%= @data["Poster"] %>" alt="">
  <div class="detail-container">
      <p class="details"><%= "Title: #{@data["Title"]}" %></p>
      <p class="details"><%= "Year: #{@data["Year"]}" %></p>
      <p class="details"><%= "Year: #{@data["Year"]}" %></p>
      <p class="details"><%= "Runtime: #{@data["Runtime"]}" %></p>
      <p class="details"><%= "Genre: #{@data["Genre"]}" %></p>
      <p class="details"><%= "Actors: #{@data["Actors"]}" %></p>
      <div class="plot-container">
      <p class="details"><%= "#{@data["Plot"]}" %></p>
      </div>
      </div>
</div>


</div>